ion-segment {
   --background: transparent;
   --ion-color-base: transparent !important;
   width: 80%;
   margin: 20px auto 10px auto;

   ion-segment-button {
      --background-focused: rgba(112, 167, 199, 0.945);
      --background-hover: rgba(112, 167, 199, 0.945);
      --background-checked: transparent;
      --color: #70A7C7;
      --color-checked: rgba(255, 255, 255, 0.945);
      --indicator-color: rgba(112, 167, 199, 0.712);
      height: 70px;
      border-radius: 20px;
   }
}

.button-native {
   background-color: #70A7C7;
}

ion-list {
   // background-color: green;
   width: 100%;
   // display: block;
}

ion-card:nth-child(odd) {
   // background-color: rgb(119, 217, 255);
   // float: left;

}

ion-card:nth-child(even) {
   // background-color: rgb(255, 108, 108);
   // float: right;
}

ion-card {
   margin: 40px auto 10px auto;
   padding: 20px;
   width: 70%;
   height: 8rem;


   div.left {
      float: left;
      width: 35%;
      height: 100%;

      .image img {
         display: flex;
         width: 140%;
         position: relative;
         top: -30px;
         left: -20px;
      }
   }

   div.right {
      float: right;
      width: 65%;
      text-align: left;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-content: center;

      .right-head {
         font-size: 12px;
         font-weight: 700;
         // background-color: blue;
         height: 30%;
      }

      .right-bottom {
         font-size: 12px;
         font-weight: 400;
         // background-color: green;
         height: 70%;
         line-height: 1.4rem;
      }
   }
}